@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-image: linear-gradient(to left, white, darkgreen);
}

main {
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    box-shadow: 20px 20px 50px rgba(136, 109, 93, 0.616);
    width: 1000px;
    padding: 10px;
    margin: 20px 20px 40px 20px;
}